@import "../shared/styles.scss";

.timer-name {
    h1 {
        font-size: 24px;
        font-weight: 600;
    }
    input {
        border: 2px solid #CED4DA;
        border-radius: 10px;
        background-color: #DEE2E6;
        font-size: 18px;
    }
}

.timer-display {
    .add-split {
        border: 2px solid #CED4DA;
        border-radius: 5px;
        background-color: #DEE2E6;
        font-size: 24px;
        margin: 0 auto 0 auto;
    }
}

.timer-control-panel {
    button {
        border: 2px solid #CED4DA;
        border-radius: 5px;
        background-color: #DEE2E6;
        font-size: 16px;
        width: 100px;
    }
}