@import "../shared/styles.scss";

div {
  position: relative;
}

.timer-name {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 18px;
    font-weight: 600;
    display: inline;
    margin-right: 1em;
  }
  input {
    border: 2px solid #ced4da;
    border-radius: 10px;
    background-color: inherit;
    font-size: 18px;
    padding-left: 0.5em;
    width: 175px;
  }
}

.timer-display {
  .timer-display-container {
    margin-bottom: 10px;
  }

  .add-split {
    border: 2px solid #ced4da;
    border-radius: 5px;
    background-color: inherit;
    font-size: 24px;
    margin: 10px auto 0 auto;
    width: 40px;
  }
}

.timer-control-panel {
  margin-top: 2.5em;
  padding-bottom: 5em;

  button {
    cursor: pointer;
    border: none;
    background-color: inherit;
    font-size: 16px;
    width: 66px;
    height: 40px;

    span {
      text-decoration: underline;
      text-decoration-color: $button-border-color;
      text-underline-offset: 3px;
    }
  }
}
