<div>
    <div>
        Timer Name:
        <input [(ngModel)]="timerName" #newTimerName="ngModel" required>
    </div>
    <button (click)="addSplit()">Add Split</button>
    <div>
        <ng-container *ngFor="let timer of timers">
            <app-zc-timer [timer]="timer"></app-zc-timer>
            <button (click)="removeSplit(timer.id)">Remove</button>
        </ng-container>
    </div>
    <div class="timer-control-panel">
        <button (click)="onStart()">
            <fa-icon [icon]="['fas', 'play-circle']" size="10x"></fa-icon>
        </button>
        <button (click)="onPause()">
            <fa-icon [icon]="['fas', 'pause-circle']"></fa-icon>
        </button>
        <button (click)="onRestart()">
            <fa-icon [icon]="['fas', 'redo']"></fa-icon>
        </button>
    </div>
</div>