<div class="container popup">
    <div class="scroll-container">
        <button class="close-popup" (click)="onClosePopup()"> 
            X
        </button>
        <h1>Your Timers</h1>
        <div class="sets" fxLayout="column" fxLayoutGap="20px">
            <div fxLayout="row" fxLayoutAlign="space-evenly center" *ngFor="let set of sets">
                <button class="sets-set" (click)="selectSet(set)">
                    <span class="sets-name"> {{set.name}} </span>
                    <div class="sets-timers" *ngFor="let timer of set.timers">
                        {{ timeToString(timer) }}
                    </div>
                </button>
                <button class="sets-delete" (click)="deleteSet(set.name)">Delete</button>
            </div>
        </div>
    </div>
    <div *ngIf="deleteMessage" class="delete-message">
        {{ deleteMessage }}
    </div>
    <div class="padding"></div>
</div>
