<div>
    <div>
        <div>Time:{{displayTime()}}</div>
        <div>
            <input #newMinutes [value]="(clockValue1$ | async)?.minutes">
            <input #newSeconds [value]="(clockValue1$ | async)?.seconds">
            <button (click)="updateTime(newMinutes,newSeconds)">Okay</button>
        </div>
        <!-- TODO: Add more splits -->
        <button (click)="addSplit()">Add Split</button>
    </div>
    
    <div>
        <button (click)="onStart()">Start</button>
        <button (click)="onPause()">Pause</button>
        <button (click)="onRestart()">Restart</button>
    </div>
    <app-timer></app-timer>
</div>