.container {
  overflow: auto;

  .contact-card {
    min-width: 300px;
    max-width: 600px;
    width: 100%;
    margin: 3em 0;


    .contact-card-title {
      margin-top: 1em;
    }

    .message-body {
      height: 6em;
    }
  }
}  