@import "./shared/styles.scss";

.container::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: " ";
  top: 0;
  left: 0;
  background-image: url("./../../assets/zen-clocks/zen.webp");
  background-size: cover;
  opacity: 0.8;
  // z-index: 0;
}

div {
  position: relative;
}
.container {
  min-height: 100vh;
  max-width: 100vw;
  color: $base-font-color;
  font-family: $base-font-family;

  h1 {
    text-align: center;
  }

  #menu {
    height: 50px;
    padding-top: 1.5em;

    #menu-container {
      display: flex;
      justify-content: space-evenly;
      float: right;
      margin-right: 50px;
      width: 300px;

      .menu-button {
        background-color: inherit;
        color: $base-font-color;
        font-size: 24px;
        text-decoration: underline;
        text-decoration-color: $button-border-color;
        text-underline-offset: 3px;
        border: none;
      }

      .menu-button:hover {
        font-weight: 500;
        cursor: pointer;
      }

      .menu-button:active {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
