<div class="container">
    <div id="menu">
        <div id="menu-container">
            <button class="menu-button">Save</button>
            <button class="menu-button">Save as</button>
            <button class="menu-button" (click)="onPopupOpen()">Open</button>
        </div>
    </div>
    <div>
        <h1>Zen Clocks</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="5"></div>
        <app-zc-about fxFlex="20"></app-zc-about>
        <app-zc-timercontrol fxFlex="auto" fxFlexOffset="40px"></app-zc-timercontrol>
        <div fxFlex="5"></div>
    </div>
</div>
<div [ngClass]="isPopupOpened ? greyScreen : '' ">
    <div id="menu-popups">
        <ng-template [ngIf]="isPopupOpened">
            <app-zc-menu (onClose)="onClose($event)"></app-zc-menu>
        </ng-template>
    </div>
</div>

