.title {
    font-family: 'Great Vibes', cursive;
    font-size: 84px;
    font-weight: lighter;
    // background-color: blue;
}

.subtitle {
    font-weight: lighter;
    
    // background-color:  blueviolet;
}

.horizontal-spacer {
    height: 3em;
}