<div class="container" fxLayout>
    <div fxFlex="20"></div>
    <mat-card fxLayout>
        <div fxFlex="5"></div>
        <div fxLayout="column">
            <mat-card-title>
                Hello!
            </mat-card-title>
            <mat-card-content>
                My name is Berty Ruan. I'm a web developer based in China. 
                But don't worry about my English. I was born and raised in the States. 
                If I'm not working on starting my career as a freelance developer, I'm 
                working as a volunteer web developer at Isha Foundation. 
            </mat-card-content>
            <mat-card-content>
                I graduated from the Pennsylvania State University with a degree in computer science 
                and worked as a software engineer at Microsoft for two years. I have a diverse set of  
                skills ranging from HTML, CSS, Javascript, and the Angular Javascript framework. 
            </mat-card-content>
        </div>
        <div fxFlex="5"></div>
    </mat-card>
    <div fxFlex="20"></div>
</div>
