<div class="container">
    <div class="nav-bar">
        <!-- https://ethermine.org/ -->
    </div>
    <div class="main-nav-bar">
        <button (onclick)="spoofMessage()">Home</button>
        <button (onclick)="spoofMessage()">Statistics</button>
        <button (onclick)="spoofMessage()">Luck</button>
        <button (onclick)="spoofMessage()">MEV Relay</button>
        <button (onclick)="spoofMessage()">Private RPC</button>
        <button (onclick)="spoofMessage()">Discord</button>
        <div>
            <input class="miner-address" value="Miner Address">
            <button (onclick)="spoofMessage()">icon</button>
        </div>
        
        <button 
            class="start-mining-button" 
            (onclick)="spoofMessage()">
            Start Mining
        </button>
        <button (onclick)="spoofMessage()">News</button>
    </div>
    <div class="banner">

    </div>
    <div class="specs">

    </div>
    <div class="features">

    </div>
    <div class="mined-blocks">

    </div>
    <div class="footer">

    </div>
    <div class="mobile-footer">

    </div>
</div>