.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

// .more-button {
//   position: absolute;
//   top: 5px;
//   right: 10px;
// }

.container {
  .title {
    padding: 2em 0 0 2em;
  }
  mat-card {
    background-color: #F9FAFB;
    color: #495057;
    
    mat-card-title {
      margin-top: .5em;
    }
  }
}

.dashboard-card-content {
  margin: 1em;
  line-height: 1.5em;
  text-align: justify;
}

.navigation-button {
  display: block;
  margin: 4em auto 0 auto;
}