<div class="container">
  <mat-card-title class="title">Projects</mat-card-title>
  <mat-grid-list cols="3" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <ng-template [ngIf]="card.isVisible">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.work?.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>{{ card.work?.description }}</div>
          </mat-card-content>
          <button class="navigation-button" mat-raised-button color="primary" (click)="navigateTo(card.work.route)">
            Check Me Out!
          </button>
        </mat-card>
      </ng-template>
    </mat-grid-tile>
  </mat-grid-list>
</div>
